/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define none &none
#define ____ &trans

#define BASE 0
#define NAV  1
#define TOOL 2

#define _(KEY) &kp KEY
#define __(KEY, TAP) &mt KEY TAP
#define MO(LAYER) &mo LAYER

/ {

  behaviors {
    mcopy: mod_copy {
      compatible = "zmk,behavior-mod-morph";
      label = "MOD_COPY";
      #binding-cells = <0>;
      bindings = <&kp C>, <&kp K_COPY>;
      mods = <(MOD_LGUI|MOD_RGUI)>;
    };

    mpaste: mod_paste {
      compatible = "zmk,behavior-mod-morph";
      label = "MOD_PASTE";
      #binding-cells = <0>;
      bindings = <&kp V>, <&kp K_PASTE>;
      mods = <(MOD_LGUI|MOD_RGUI)>;
    };

    lmt: layer_mod_tap {
      compatible = "zmk,behavior-hold-tap";
      label = "LAYER_MOD_TAP";
      #binding-cells = <2>;
      flavor = "hold-preferred";
      tapping-term-ms = <200>;
      bindings = <&mo>, <&kp>;
    };
  };

  keymap0: keymap {
    compatible = "zmk,keymap";

    // # layer 0 - default
    // ╭──────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────────╮
    // | ESC  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  0  |  -  |  =  |   BKSP  |
    // | TAB  |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |  P  |  [  |  ]  |    \    |
    // | NAV  |  A  |  S  |  D  |  F  |  G  |  H  |  J  |  K  |  L  |  ;  |  '  |     ENTER     |
    // |  SHIFT  |  Z  |  X  |  C  |  V  |  B  |  N  |  M  |  ,  |  .  |  /  |      SHIFT       |
    // |  CTL  |  WIN  |  ALT  |            SPACE               | ALT | MENU | TOOL  | CTRL     |
    // ╰───────┴───────┴───────┴────────────────────────────────┴─────┴──────┴───────┴──────────╯
    default_layer {
      bindings = <
        _(ESC) _(N1)  _(N2)  _(N3)  _(N4)  _(N5)  _(N6)  _(N7)  _(N8)  _(N9)  _(N0)  _(MINUS) _(EQUAL) _(BSPC)
        _(TAB)  _(Q)   _(W)   _(E)   _(R)   _(T)   _(Y)   _(U)   _(I)   _(O)   _(P)  _(LBKT)  _(RBKT)  _(BSLH)
        MO(NAV) _(A)   _(S)   _(D)   _(F)   _(G)   _(H)   _(J)   _(K)   _(L)  _(SEMI) _(SQT)       _(RET)
        _(LSHFT)  _(Z)   _(X)   &mcopy   &mpaste   _(B)   _(N)   _(M)  _(COMMA) _(DOT)  _(FSLH)       __(RSHFT,UP)
        _(LCTRL) _(LGUI) _(LALT)               _(SPACE)           _(RALT)  __(K_CMENU,LEFT)  &lmt TOOL DOWN   __(RCTRL,RIGHT)
      >;
    };

    // # layer 1 - navigation
    // ╭──────┬──────┬──────┬──────┬──────┬──────┬──────┬──────┬─────┬──────┬─────┬─────┬─────┬─────────╮
    // |   `  |  F1  |  F2  |  F3  |  F4  |  F5  |  F6  |  F7  |  F8 |  F9  | F10 | F11 | F12 |   DEL   |
    // | TAB  | PREV | PLAY | NEXT |      |      |      | PGUP |  ↑  | PGDN |PRINT|     |     |  reset  |
    // |      | VOLD | MUTE | VOLU |      |      | HOME |  ←  |  ↓  |  →  |     |     |     ENTER     |
    // |  SHIFT   |     |     | COPY|PASTE|      | END |     |     |     |     |       SHIFT            |
    // |  CTL  |  WIN  |  ALT  |            SPACE               | ALT | MENU |  TOOL |   CTRL           |
    // ╰───────┴───────┴───────┴────────────────────────────────┴─────┴──────┴───────┴──────────────────╯

    nav_layer {
      bindings = <
_(GRAVE)  _(F1)  _(F2)  _(F3)  _(F4)  _(F5)  _(F6)  _(F7)  _(F8)  _(F9)  _(F10)  _(F11)  _(F12) _(DELETE)
____     _(C_PREV) _(C_PLAY_PAUSE) _(C_NEXT)  none  none  none  _(PAGE_UP)  _(UP)  _(PAGE_DOWN)  _(PSCRN)  none  none  &reset
____     _(C_VOLUME_DOWN)  _(C_MUTE) _(C_VOLUME_UP) none none  _(HOME) _(LEFT) _(DOWN)   _(RIGHT)  none   none  ____
____     none      none      _(K_COPY)      _(K_PASTE)      none      _(END)      none      none      none      none      ____
____       ____       ____       ____                                              ____     ____     ____     ____
      >;
    };

    // # layer 2 - Tools and bootloader
    alt_layer {
      bindings = <
none none none none none none none none none none none _(C_BRI_DEC) _(C_BRI_INC) none
none none none none none none none none none none none none none none
none none none none none none none none none none none none none
none none none none none &bootloader none none none none none none
none none none             none              none none none none
      >;
    };
  };
};
